<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
      <ul v-for="student in students" v-if="student.isShow">
      		<li><span>姓名: {{student.name}}</span></li>
      		<li><span>年龄: {{student.age}}</span></li>
      </ul>
    </div>
</body>
<script type="text/javascript">
	var vm = new Vue({
	   el:"#app",
	   data:{
		   students:[
			   {name:'小明',age:'18',isShow:true},
			   {name:'小华',age:'20',isShow:true},
			   {name:'小红',age:'21',isShow:false}
		   ]
	   }
   });
</script>
</html>