<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>ToDoList—最简单的待办事项列表</title>
<meta name="description" content="ToDoList" />
<link rel="stylesheet" href="../css/todoList.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>

</head>
<body>
	<div id="app">
		<header>
			<section>

				<label for="title">{{title}}</label> <input type="text"
					placeholder="添加ToDo" v-model="newTodo" @keyup.enter="addNewTodo" />

			</section>
		</header>
		<section>
			<h2  v-on:click="httpGet">
				正在进行 <span id="todocount">1</span>
			</h2>
			<ol>
				<li v-for="todo in todosing" class="demo-box">
				     <input type="checkbox" onchange="">{{ todo.text }}
				     <span>{{todo.createTime}}</span>
				</li>
			</ol>
			<h2>
				已经完成 <span id="donecount">2</span>
			</h2>
			<ul id="donelist">
				<li v-for="todo in todosed" class="demo-box">
				  <input type="checkbox" onchange="">{{ todo.text }}
				  <span>{{todo.createTime}}</span>
				</li>
			</ul>
		</section>
	</div>
</body>
<script type="text/javascript">
	var vm = new Vue({
		el : '#app',
		data : {
			title : 'todoList',
			newTodo : '',
			newTodoCreateTime:'',
			todos : [],
			requestUrl: 'http://localhost:9999/ToDoListVue',
			todosing : [ {
				text : '学习 JavaScript',
				createTime:'2018-03-20'
			}, {
				text : '学习 Vue',
				createTime:'2018-03-20'
			}, {
				text : '整个牛项目',
				createTime:'2018-03-20'
			} ],
			todosed : [ {
				text : '学习 JavaScript1',
				createTime:'2018-03-20'
			}, {
				text : '学习 Vue1',
				createTime:'2018-03-20'
			}, {
				text : '整个牛项目1',
				createTime:'2018-03-20'
			} ]
		},
		methods : {
			addNewTodo:function() {
				this.todosing.push({
					text : this.newTodo,
					createTime:new Date()
				});
				this.newTodo = "";
			},
			httpGet() {
		        this.$http.get(this.requestUrl+"/getAllList").then(response => {
		          console.log(response.data)
		          this.todosing=response.data;
		        }, response => {
		          console.log(response.data)
		        })
		     }
			
		},
		mounted: function () {
		      this.httpGet();
	    }
	})
</script>
</html>