<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>ToDoList—最简单的待办事项列表</title>
<meta name="description" content="ToDoList" />
<link rel="stylesheet" href="../css/todoList.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script
	src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>

</head>
<body>
	<div id="app">
		<header>
			<section>
				<label for="title">{{title}}</label> <input type="text"
					placeholder="添加ToDo" v-model="newTodo" @keyup.enter="addNewTodo" />
			</section>
		</header>
		<section>
			<h2>正在进行</h2>
			<ol>
				<li v-for="todo in todosing" class="demo-box"><input
					type="checkbox" onchange="">{{ todo.listContent }} <span>{{todo.createTime}}</span>
				</li>
			</ol>
			<h2>已经完成</h2>
			<ul id="donelist">
				<li v-for="todo in todosed" class="demo-box"><input
					type="checkbox" onchange="">{{ todo.listContent }} <span>{{todo.createTime}}</span>
				</li>
			</ul>
		</section>
	</div>
</body>
<script type="text/javascript">
	var vm = new Vue({
		el : '#app',
		data : {
			title:'todoList',
			newTodo:'',
			newTodoCreateTime:'',
			todos: [],
			requestUrl:'http://localhost:9999/ToDoListVue',
			todosing:[],
			todosed:[]
		},
		methods : {
			addNewTodo:function() {
				 var json={  
						'listContent':this.newTodo,
						'createTime':new Date()
				 }
				 this.$http.post(this.requestUrl+"/addList",json).then(response => {
					  	this.getAllList();
						this.newTodo = "";			          
			        }, response => {
			          console.log(response.data)
			     })
			},
			getAllList() {
		        this.$http.get(this.requestUrl+"/getAllList").then(response => {
		          var lists=response.data
		          for (var i = 0; i < lists.length; i++) {
					 var list=lists[i];
					 if (list.listStatus==1) {
						 this.todosing.push({listContent:list.listContent,createTime:list.createTime});
					 }else{
						 this.todosed.push({listContent:list.listContent,createTime:list.createTime});
					 }
				  }
		          
		        }, response => {
		          console.log(response.data)
		        })
		     }
			
		},
		mounted: function () {
		      this.getAllList();
	    }
	})
</script>
</html>