<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.blogvue.dao.TodoListDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="BaseResultMap" type="com.mm.blogvue.model.ToDoList">
		<id column="list_id" property="listId" jdbcType="INTEGER" />
		<result column="list_content" property="listContent" jdbcType="VARCHAR" />
		<result column="list_status" property="listStatus" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="selectAllList" resultMap="BaseResultMap">
		SELECT * FROM t_todo_list
	</select>
	<insert id="insert" parameterType="com.mm.blogvue.model.ToDoList"
		keyProperty="listId" useGeneratedKeys="true">

		insert into t_todo_list(list_id, list_content,
		list_status,create_time,update_time)
		values (#{listId,jdbcType=INTEGER}, #{listContent,jdbcType=VARCHAR},
		#{listStatus,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<update id="updateListStatusById" parameterType="com.mm.blogvue.model.ToDoList">

		update t_todo_list set list_status= #{listStatus,jdbcType=INTEGER},
		update_time=#{updateTime,jdbcType=TIMESTAMP} where
		list_id=#{listId,jdbcType=INTEGER}
	</update>
</mapper>